body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.logo-img {
    width: 50px;
    margin: 12px 15px 12px 30px;
}

.logo-text{
    font-size: 22px;
    color: #d0d0d0;
}

.logo-text:hover{
    text-decoration: none;
    color: #ff0000;
}

.main-box{
    margin: 60px 0;
}

.action-box{
    text-align: center;
}

.action-ctrl{
    width: 120px;
    margin: 5px auto 5px auto;
}

.panel-diagram{
    margin: 0 14px;
    transition: 1s;
}