@{
    ViewBag.Title = "Home Page";
}

<div class="row main-box">
    <div class="col-md-5">
        <textarea class="form-control" rows="10" placeholder="Enter text..." ng-model="userText" ng-focus="clearData()">
        </textarea>
    </div>
    <div class="col-md-2 action-box">
        <div class="input-group action-ctrl">
            <span class="input-group-addon">ROT</span>
            <input type="number" class="form-control" max="26" min="0" ng-model="rotate">
        </div>
        <button class="btn btn-default action-ctrl" ng-click="getEncryption(true)">
            Encrypt
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </button>
        <button class="btn btn-default action-ctrl" ng-click="getEncryption(false)">
            Decrypt
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </button>
    </div>
    <div class="col-md-5">
        <textarea class="form-control" rows="10" ng-model="resultText" readonly></textarea>
    </div>
</div>
<div ng-controller="diagramCtrl">
    <div class="panel panel-default panel-diagram" ng-show="columns.length">
        <div class="panel-heading">Letters statistics</div>
        <div class="panel-body">
            <div diagram="columns">
            </div>
        </div>
    </div>
</div>